{% extends 'main_pages/base.html' %}

{% block maincontent %}

<div class="container">
    <div class="btn-product-back">
        <a href="{{ request.META.HTTP_REFERER|escape }}">Назад</a>
    </div>
    <div class="product-card-flex">
      <div class="fotorama"
        data-nav="thumbs"
        data-width="100%"
        data-arrows="true"
        >
        {% for image in images %}
        {% if product_slug.slug == image.product.slug %}
        <img class="product-card-img" src="{{ image.image.url }}">
        {% endif %}
        {% endfor %}
      </div>
      
      <div class="product-card-text">
        <h1 class="product-card-title">
          {{ product_slug.name }}
        </h1>
        <div class="prices">
          <p class="product-card-price">
            {{ product_slug.price|floatformat }} ₽
          </p>
          {% if product_slug.discount > 0 %}
          <p class="product-card-discount">
            {{ product_slug.get_discount|floatformat }} ₽
          </p>
          {% endif %}
        </div>
        <p class="product-card-text-style">Размер</p>
        <form class="form-add-basket" action="#">
          <select class="select-size" name="select-size">
            {% for size in sizes %}
            {% if size.product.slug == product_slug.slug %}
            <option class="option-size" value="{{ product_slug.slug }}{{ size.size }}">{{ size.size }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <a href="#" class="choose-size">
            Подобрать размер
          </a>
          <input class="btn-add-basket" type="submit" value="Добавить в корзину">
        </form>
        <div class="product-specifications">
          {% for product in products %}
          {% if product_slug.slug == product.slug %}
          <p class="product-text-spec" style="margin-top: 60px">
            <strong>Цвет:</strong>
            {{ product.color|title }}
          </p>
          <p class="product-text-spec">
            <strong>
              Состав: 
            </strong>
            {{ product.structure }}
          </p>
          <p class="product-text-spec col-10">
            <strong>
              Описание: 
            </strong>
            {{ product.description }}
          </p>
          {% endif %}
          {% endfor %}
        </div>

        
      </div>
    </div>
</div>

{% endblock %}
